.tweetsCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 460px;
  background-image: 
    linear-gradient(114.99deg, #471ca9 -0.99%, #5736a3 54.28%, #4b2a99 78.99%);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;

  &::after {
    position: absolute;
    top: 214px;
    content: "";
    width: 100%;
    height: 8px;
    background-image: url('./images/rectangle.png');

}
}

.imgBox {
  background-image: url('./images/logo-1x.png');
  background-size: cover;
  background-position: center;
  position: relative;
  top: 28px;
  left: 36px;
  width: 308px;
  height: 168px;
}

.avatar{
  position: absolute;
  z-index: 10;
  top: 178px;
  left: 150px;
}

.avatarImg{
  width: 80px;
  height: 80px;
}

.tweetsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 98px;
}

.tweetsBoxQuantity{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.tweetsQuantity {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ebd8ff;

  &:not(:last-child){
    margin-bottom: 16px;
  }
}
